@import '../variables.scss';

.large-nav{
  ul {
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: space-between;
    width: 50%;
    max-width: 700px;
    margin: 16px auto 32px auto;

    li {
      span {
          outline: 0;
          border: none;
          -moz-outline-style: none;
          display:block;
          height: 25px;
          cursor: pointer;
          color: black !important;

          &.active-link {
            border-bottom: 2px solid $accent;
          } 
      }
    }
  }
}

.small-nav {
  z-index: 20;
  position: fixed;
  top: 0px;
  left: 0px;
  background: $dark-grey;
  width:100%;
  height: 60px;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  color: white;
  display: flex;
  justify-content: flex-end;

  .logo {
    font-size: 43px;
    display: inline-block;
    height: auto;
    margin: 5px 15px;
    box-sizing: border-box;
    line-height: 51px;
  }


  .hamburger {
    display: inline-block;
    -webkit-appearance: button;
    outline: none;
    box-sizing: border-box;
    padding: 0px;
    justify-self: flex-start;
    align-self: center;
    margin: 0px 20px;

    .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
      background-color: white;
    }
  }

  ul {
    position: fixed;
    width: 100%;
    height: calc(100% - 60px);
    top: 60px;
    left: 0;
    color: black;
    font-size: 27px;
    padding: 25px;
    box-sizing: border-box;
    margin: 0;
    background-color: #ffffffb8;
    text-align: right;  
    box-shadow: inset 0px 8px 5px -4px rgba(0, 0, 0, 0.12), 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);



    li {
      margin-bottom: 20px;

      span {
        outline: 0;
        border: none;
        -moz-outline-style: none;
        font-family: 'Ubuntu Mono', monospace;
        cursor: pointer;
        
      }

      &.hidden {
        opacity: 0;
      }

      &.impressum-mobile-link {
          position: absolute;
          bottom: 25px;
          margin: 0;
          right: 25px;
          font-size: 19px;
        }
    }
  }
}
