.a-con {
  max-width: 1000px;
  width: 80%;
  margin: auto;
  &.mobile {
    width: 100%;
    padding: 0px 10px;
    box-sizing: border-box;
  }
}
mat-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: -50px 0px 0px -50px;
}
.post-header {
  display: block;
    margin: auto;
    width: 70%;
}
